@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
body{
  font-family: 'Mooli';
  background-color: #fafafa;
  margin: 0 !important;
  padding: 0 !important;
}
a{
  text-decoration: none;
}